@model HePa.Web.Areas.History.ViewModels.WordResultViewModel

@{
    ViewBag.Title = "Failure";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Failure</h2>
@{
    int page = 0;
}
@Model.ClassName
<hr />
@{ Html.RenderPartial("_ListWordResultPartial", Model.ListOfWords); }
@Ajax.ActionLink("Xem thêm", "GetMoreFailureItems", new { page = page + 1 }, new AjaxOptions { UpdateTargetId = "list-word-section", InsertionMode = InsertionMode.InsertAfter })
@section AddScript {
    <script src="@Scripts.Url("~/dist/jquery.validate.unobtrusive")" async></script>
}