
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<h1>@Html.ActionLink(@Resources.Resource.LearningClass, "Learning", "MyClass")</h1>
<h1>@Html.ActionLink(@Resources.Resource.RecommenedClass, "Recommend", "MyClass")</h1>
