@model HePa.Web.Areas.Admin.ViewModels.InsertWordViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_SimplePageLayout.cshtml";
}

<h2>Index</h2>

<div>
    <h4>InsertWordViewModel</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ClassId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClassId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
