@{
    ViewBag.Title = "Trung tâm ngoại ngữ Hepa - Hepatown";
    ViewBag.MetaDesc = "Hepatown.com® là trung tâm ngoại ngữ kiểu mới kết hợp giữa phương pháp học tại lớp và trực tuyến phù hợp với người đi làm/chuẩn bị đi làm.";
    ViewBag.MetaKeyword = "trung tâm ngoại ngữ, trung tam ngoại ngu, ngoại ngữ hepa, tiếng anh hepa, học tiếng anh hepa town";
    Layout = "~/Views/Shared/_HomePageLayout_v1.1.cshtml";
}
@section AddToHead {
    @Styles.Render("~/dist/css-home")
}

<div class="row choose-section">
    <div class="box-header hoc-phi">
        <div class="bg-cover">
            <h2>Thị trấn tiếng Anh Hepa chào mừng bạn.</h2>
        </div>
    </div>
</div>

<!--
<div class="row white-bg">
    <div class="col-xs-12">
        <p class="choose-title">Chọn lớp mà bạn muốn học</p>
        <p class="text-center"><i>hoặc</i></p>
        <p class="text-center"><a href="@Url.Action("Aboutv1_1", "Home", new { area = "" })"><strong>TÌM HIỂU THÊM</strong></a></p>
    </div>
</div>

<div class="row white-bg box-choose-class">
    <div class="col-sm-6">
        <a class="box" href="http://phatam.hepatown.com">
            <div class="phat-am">
                <div class="static">
                    <p><img src="~/dist/img/icon/others/pronun-icon.png" /></p>
                    <p>HỌC PHÁT ÂM TẠI TRUNG TÂM</p>
                </div>
                <div class="hover">
                    <p>Phát âm theo chuẩn giọng Mỹ<br />với hơn 40<sup>+</sup> chủ đề.</p>
                    <div>
                        <h2>Nhập học ngay</h2>
                        <i class="fa fa-5x fa-hand-o-right"></i>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-sm-6">
        <a class="box" href="http://tuvung.hepatown.com">
            <div class="tu-vung">
                <div class="static">
                    <p><img src="~/dist/img/icon/others/voca-icon.png" /></p>
                    <p>HỌC TỪ VỰNG ONLINE</p>
                </div>
                <div class="hover">
                    <p>Với hơn 600<sup>+</sup> từ vựng<br />học theo 05 bước độc đáo.</p>
                    <div>
                        <h2>Nhập học ngay</h2>
                        <i class="fa fa-5x fa-hand-o-right"></i>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>
-->

<div class="row white-bg">
    <div class="col-md-12">
        <div class="content">
            <div class="simple-content">
                <h3 class="text-center kham-pha">
                    Bắt đầu khám phá “problems” của bạn!!!<br />
                    <span><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></span>
                </h3>
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1 col-md-12">
                        <div class="youtube embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/TiJIYdgkF9M"></iframe>
                        </div>
                    </div>
                </div>

                <p class="star-seperator"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></p>
                <p>
                    <strong class="text-orange">tienganhHepa.com (Hepatown)</strong> là đơn vị đầu tiên tại Việt Nam cung cấp chương trình <strong>“tiếng Anh giao tiếp 2016 chuyên sâu”</strong> dành cho người mất căn bản tiếng Anh & muốn cải thiện kỹ năng giao tiếp. Mục đích của chương trình là đảm bảo người học tự tin giao tiếp bằng ngoại ngữ khi đi du lịch, đi làm trong vòng tối đa 4 tháng! Ngoài ra, Hepa cung cấp bộ kỹ năng quan trọng để người học mau chóng tìm được việc làm/thăng tiến trong thời kỳ hội nhập quốc tế.
                </p>
                <div class="row five-step">
                    <div class="col-lg-10 col-lg-offset-1 col-xs-12">
                        <figure>
                            <h5 class="text-center">LỘ TRÌNH BẮT ĐẦU SỰ NGHIỆP CỦA BẠN TỪ TIẾNG ANH HEPA</h5>
                            <h4 class="text-center col-xs-7 col-xs-offset-3 col-md-4 col-md-offset-4 quy-trinh-nhap-hoc">QUY TRÌNH NHẬP HỌC TẠI HEPA</h4>
                            <a href="~/dist/img/home-page/5-steps-hepa-english.png">
                                <img class="img-responsive" src="~/dist/img/home-page/5-steps-hepa-english.png" alt="5 bước hoàn thành chương trình học tại Hepa" />
                            </a>
                            <figcaption>Quy trình nhập học 2016 (<a href="~/dist/img/home-page/5-step-hepa-english.png">nhấn để xem hình lớn</a>)</figcaption>
                        </figure>
                    </div>
                </div>

                <p class="star-seperator"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></p>
                <p>Tùy thuộc bạn đang ở trình độ nào hoặc đã trải qua những khóa học tương đương nào để chúng tôi sắp xếp lớp học phù hợp với bạn, có 3 lớp học trong chuỗi chương trình giao tiếp chuyên sâu. Đảm bảo bạn sẽ tự tin giao tiếp chuẩn giọng Mỹ (HBO, Disney, CNN) trong vòng <strong>tối đa 4 tháng</strong> nếu bạn đang ở mức zero!</p>
                <figure class="pricing-class">
                    <div class="row">
                        <h5 class="text-center">LỘ TRÌNH TIẾNG ANH GIAO TIẾP 2016 CHO NGƯỜI "MỚI BẮT ĐẦU"</h5>
                        @*<div class="col-xs-12 col-sm-6 col-md-3">
                            <a href="#"><img class="img-responsive" src="~/dist/img/home-page/pricing-1.png" alt="Chương trình phát âm giọng Mỹ" /></a>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3">
                            <a href="#"><img class="img-responsive" src="~/dist/img/home-page/pricing-2.png" alt="Chương trình ngữ pháp cơ bản" /></a>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3">
                            <a href="#"><img class="img-responsive" src="~/dist/img/home-page/pricing-3.png" alt="Chương trình giao tiếp phổ thông" /></a>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3">
                            <a href="#"><img class="img-responsive" src="~/dist/img/home-page/pricing-4.png" alt="Chương trình giao tiếp công sở" /></a>
                        </div>*@
                        <div class="col-xs-12">
                            <img class="img-responsive center" src="~/dist/img/home-page/pricing-table.png" usemap="#map1457663250405" />
                            <map class="img-responsive" id="map1457663250405" name="map1457663250405"><area shape="rect" coords="29,45,226,327" title="Học phát âm giọng Mỹ tại tiếng Anh Hepa" alt="Học phát âm giọng Mỹ tại tiếng Anh Hepa" href="http://phatam.hepatown.com" target="_blank"></map>
                        </div>
                    </div>
                    <figcaption>Ba lớp học trong chương trình giao tiếp của Hepa (<a href="~/dist/img/home-page/pricing-table.png">nhấn để xem hình lớn</a>)</figcaption>
                </figure>

                <p class="star-seperator"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></p>
                <h4 class="text-center">CHƯƠNG TRÌNH "TIẾNG ANH GIAO TIẾP 2016" PHÙ HỢP VỚI CÁC ĐỐI TƯỢNG</h4>
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <ul class="section-1">
                            <li><span class="circle">1</span><span class="middle-child">Lười học do mất căn bản.</span></li>
                            <li><span class="circle">2</span><span class="middle-child">Học xong NÓI CHUẨN – NGHE TỐT.</span></li>
                            <li><span class="circle">3</span><span class="middle-child">Muốn học nhanh – gọn – lẹ.</span></li>
                        </ul>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <ul class="section-1">
                            <li><span class="circle">4</span><span class="middle-child">Muốn cải thiện tiếng Anh giao tiếp.</span></li>
                            <li><span class="circle">5</span><span class="middle-child">Muốn có việc làm tốt hơn.</span></li>
                        </ul>
                    </div>
                    <div class="col-xs-12">
                        <ul class="section-1">
                            <li><span class="circle"><i class="fa fa-star"></i></span><span class="middle-child text-red semi-bold">Đặc biệt có lớp RIÊNG cho những NHÓM ÍT NGƯỜI hoặc anh chị đã đi làm.</span></li>
                        </ul>
                    </div>
                </div>

                <p class="star-seperator"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></p>
                <h4 class="text-center">KỸ NĂNG LÀ CHUYỆN NHỎ - KHỎI LO GÌ XIN VIỆC</h4>
                <p>Song song với ngoại ngữ, Hepa trang bị thêm <strong class="text-blue">6 KỸ NĂNG RẤT QUAN TRỌNG</strong> dành cho người chưa đi làm khi mà hơn 96% ứng viên không đáp ứng tốt dẫn đến không xin được việc làm, lương thấp, dễ bị mất việc làm khi công ty gặp khó khăn.</p>
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12">
                        <h5 class="text-center">6 LỚP NGOẠI KHOÁ 2016 (ĐỘC QUYỀN) CHO HỌC VIÊN HEPA</h5>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <ul class="ky-nang p-green">
                                <li>
                                    <i class="fa fa-briefcase"></i>
                                    <big>Kỹ năng xin việc</big>
                                </li>
                                <li>Hiểu tâm lý nhà tuyển dụng</li>
                                <li>99% có được việc làm ngay</li>
                                <li>Biết được nhu cầu CV trong XH</li>
                                <li>
                                    <button>Đăng ký</button>
                                </li>
                            </ul>
                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <ul class="ky-nang p-orange">
                                <li>
                                    <i class="fa fa-bullhorn"></i>
                                    <big>Kỹ năng thuyết trình</big>
                                </li>
                                <li>Nắm vững 3 nguyên tắc thu hút</li>
                                <li>Biết cách soạn Slide hấp dẫn</li>
                                <li>Tự tin chia sẻ trước đám đông</li>
                                <li>
                                    <button>Đăng ký</button>
                                </li>
                            </ul>
                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <ul class="ky-nang p-red">
                                <li>
                                    <i class="fa fa-cogs"></i>
                                    <big>Quản lý & báo cáo</big>
                                </li>
                                <li>Các công cụ giúp bạn q.lý c.việc TK21</li>
                                <li>Ứng dụng excel vào quản lý</li>
                                <li>Q.lý kết quả tốt/xấu trong báo cáo</li>
                                <li>
                                    <button>Đăng ký</button>
                                </li>
                            </ul>
                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <ul class="ky-nang p-blue">
                                <li>
                                    <i class="fa fa-google"></i>
                                    <big>Kỹ năng Google</big>
                                </li>
                                <li>Tìm thông tin nhanh hơn tới 70%</li>
                                <li>Tìm thông tin chính xác hơn tới 30%</li>
                                <li>Bảo mật/riêng tư khi tìm kiếm</li>
                                <li>
                                    <button>Đăng ký</button>
                                </li>
                            </ul>
                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <ul class="ky-nang p-brown">
                                <li>
                                    <i class="fa fa-dollar"></i>
                                    <big>Kỹ năng bán hàng</big>
                                </li>
                                <li>Có phải chỉ seller mới bán hàng?</li>
                                <li>Thăng tiến nhờ vào sell bản thân</li>
                                <li>14 nguyên tắc bán hàng thành công</li>
                                <li>
                                    <button>Đăng ký</button>
                                </li>
                            </ul>
                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <ul class="ky-nang p-purple">
                                <li>
                                    <i class="fa fa-external-link-square"></i>
                                    <big>Shortcut! (đường tắt)</big>
                                </li>
                                <li>Thu nhập trước hay đam mê trước</li>
                                <li>Quy tắc 10.000 giờ để thành ch.gia</li>
                                <li>Tư duy của tầng lớp trung lưu</li>
                                <li>
                                    <button>Đăng ký</button>
                                </li>
                            </ul>
                        </div>
                        <figcaption>6 lớp ngoại khóa miễn phí (chỉ dành cho học viên Hepa)</figcaption>
                    </div>
                </div>

                <p class="star-seperator"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></p>
                <div class="content-2">
                    <div class="row hepa-slogan">
                        <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
                            <img class="img-responsive" src="~/dist/img/home-page/hepa-new-slogan.png" />
                        </div>
                    </div>
                    <div class="row">
                        <h5 class="text-center">Khởi đầu sự nghiệp với HEPA ENGLISH ngay hôm nay!</h5>
                        <p class="text-center contact-title">(Liên hệ để được kiểm tra tư vấn & kiểm tra trình độ miễn phí)</p>
                    </div>
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                            <div class="col-xs-12 col-sm-6">
                                <ul class="contact">
                                    <li class="bg-info">
                                        <big>Tư vấn online</big>
                                    </li>
                                    <li class="contact-messenger"><a href="//www.messenger.com/t/1415571802086257" target="_blank"><img src="~/dist/img/home-page/facebook-messenger.svg"> Facebook messenger</a></li>
                                    <li class="contact-skype"><a href="skype:hepatown?chat" target="_blank"><i class="fa fa-skype"></i> Skype: hepatown</a></li>
                                    <li class="contact-phone"><i class="fa fa-phone-square"></i> <a href="tel:+84909808862">0909 808 862</a> − <a href="tel:+84981820085">0981 820 085</a></li>
                                    <li class="contact-email"><i class="fa fa-envelope"></i> <a href="mailto:support@hepatown.com">support@hepatown.com</a></li>
                                </ul>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <ul class="contact">
                                    <li class="bg-danger">
                                        <big>Tư vấn trực tiếp</big>
                                    </li>
                                    <li><i class="fa fa-home"></i> Tại nhà riêng của bạn</li>
                                    <li><i class="fa fa-university"></i> Tại công ty của bạn</li>
                                    <li><i class="fa fa-map-marker"></i> Tại văn phòng Hepa<br />377/9/8 Lê Quang Định, Bình Thạnh HCMC</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <p class="star-seperator"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></p>
                    <div class="quote">
                        <div class="row vertical-align">
                            <div class="col-xs-2">
                                <div class="avatar">
                                    <img class="img-responsive" src="~/dist/img/team/Thinh.png" />
                                    <span class="ring"></span>
                                </div>
                            </div>
                            <div class="col-xs-10">
                                <p>“Sứ mệnh của Hepa là thông qua tiếng Anh & 6 lớp kỹ năng mang đến cho bạn cơ hội việc làm, nâng cao năng suất công việc hiện tại để đạt mức thu nhập tốt hơn, giúp công ty hội nhập quốc tế.” &minus; <strong>Henry Hoàng.</strong></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>