@{
    ViewBag.Title = "Điều khoản sử dụng hệ thống tiếng Anh trực tuyến Hepa";
    ViewBag.NavTitle = "Điều khoản";
    ViewBag.MetaDesc = "Điều khoản sử dụng hệ thống tiếng Anh trực tuyến. Bạn đã biết?";
    ViewBag.MetaKeyword = "dieu khoan su dung";
    Layout = "~/Views/Shared/_HomePageLayout_v1.1.cshtml";
}
@section AddToHead {
    <style>
        p {
            margin-bottom: 8px;
            text-align: justify;
        }

        h4 {
            margin-top: 1.8em;
        }
    </style>
}
<ol class="breadcrumb">
    <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
        <a href="@Url.Action("Index", "Home")" itemprop="url">
            <span itemprop="title">Hepatown</span>
        </a>
    </li>
    <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
        <a href="@Url.Action("Tos", "Home")" itemprop="url">
            <span itemprop="title">Điều khoản</span>
        </a>
    </li>
</ol>
<div class="row">
    <div class="col-md-12">
        <div class="content">
            <div class="simple-content boxed">
                <!-- START intro -->
                <h1><i class="fa fa-info-circle"></i> Điều khoản dịch vụ của Hepa</h1>
                <hr />
                <p><i>Được tạo vào: Ngày 16 tháng 07 năm 2015. Sửa đổi lần cuối: Ngày 08 tháng 01 năm 2016</i></p>
                <h4>Chào mừng bạn đến với Hepa</h4>
                <p>Cảm ơn bạn đã sử dụng các sản phẩm và dịch vụ của chúng tôi. Dịch vụ được cung cấp bởi Hepa, Inc. Hepa có trụ sở tại 377/9/8 Lê Quang Định, P5, Bình Thạnh, Tp Hồ Chí Minh.</p>
                <p>Hepatown ("Thị trấn Hepa") là một thương hiệu của Hepa, đây là nơi học tiếng Anh giọng Mỹ & kỹ năng nghề nghiệp hiện đại nhất miền Nam.</p>
                <p>Bằng việc sử dụng Dịch vụ của chúng tôi, bạn đang đồng ý với các điều khoản này. Vui lòng đọc kỹ các điều khoản này.<p>
                    <h4>Sử dụng dịch vụ của chúng tôi</h4>
                <p>
                    Không được sử dụng trái phép dịch vụ của chúng tôi.
                    Ví dụ: như bằng cách nào đó gây trở ngại cho dịch vụ của chúng tôi hoặc
                    tìm cách truy cập chúng bằng phương pháp nào đó không thông qua giao diện và hướng dẫn mà chúng tôi cung cấp.
                    Bạn chỉ được sử dụng dịch vụ của chúng tôi theo như những gì pháp luật cho phép.
                    Chúng tôi có thể tạm ngừng cung cấp dịch vụ của chúng tôi nếu bạn không tuân theo các điều khoản dịch vụ
                    hoặc nếu chúng tôi đang trong quá trình điều tra nhưng hành vi nghi ngờ là sai phạm.
                </p>
                <p>
                    Sử dụng dịch vụ của chúng tôi không đồng nghĩa với việc bạn có quyền sở hữu trí tuệ hoặc được phép sử dụng
                    các nội dung mà chúng tôi cung cấp. Bạn không được quyền sử dụng các nội dung từ dịch vụ trừ khi bạn là
                    chủ sở hữu các nội dung đó hoặc được pháp luật cho phép. Các điều khoản này không cung cấp cho bạn quyền
                    để sử dụng logo hay thương hiệu của chúng tôi.
                </p>
                <h4>Tài khoản, sự riêng tư và bản quyền</h4>
                <p>
                    Bạn có thể cần có tài khoản kể cả tài khoản đã trả phí của Hepa đế sử dụng một số dịch vụ của chúng tôi.
                    Bạn được tự tạo tài khoản Hepa của riêng mình hoặc từ một số chiến dịch cụ thể mà chúng tôi tạo sẵn cho bạn.
                </p>
                <p>
                    Các thông tin cá nhân của bạn cung cấp sẽ được dùng để chúng tôi tăng trải nghiệm của bạn với các dịch vụ
                    mà bạn sử dụng. Các thông tin này được chúng tôi giữ bảo mật tuyệt đối và không cung cấp cho bên thứ ba trừ các trường hợp:
                    chúng tôi được sự đồng ý của bạn hoặc chúng tôi có yêu cầu từ chính quyền để phục vụ cho những vấn đề pháp lý.
                </p>
                <p>
                    Chúng tôi phúc đáp các báo cáo cáo buộc về vi phạm bản quyền và có thể chấm dứt tài khoản của người vi phạm
                    theo quy định của pháp luật và theo quy trình được nêu trong Đạo luật bản quyền kỹ thuật số thiên niên kỷ (DMCA) của Hoa Kỳ.
                </p>
                <h4>Về các điều khoản này</h4>
                <p>
                    Chúng tôi có quyền sửa đổi các điều khoản này, hoặc thêm các điều khoản bổ sung cho bất cứ dịch vụ nào
                    của chúng tôi. Bạn nên thường xuyên tìm hiểu các điều khoản này. Khi có sửa đổi, chúng tôi sẽ đăng thông báo về
                    các nội dung được sửa đổi trên trang này. Các thay đổi sẽ không có hiệu lực trước 14 ngày kể từ ngày thay đổi.
                    Riêng những thay đổi về điều khoản từ lý do pháp lý sẽ có hiệu lực ngay lập tức. Có thể có những chính sách gối
                    đầu cho sự thay đổi trong thời gian chuyển tiếp. Nếu bạn không đồng ý với điều khoản
                    dịch vụ nào, bạn có thể không sử dụng dịch vụ đó.
                </p>
                <p>
                    Nếu thực tế cho thấy một điều khoản cụ thể nào đó là không thể thực thi,
                    điều này sẽ không làm ảnh hưởng đến bất kỳ các điều khoản nào khác.
                </p>
                <p>Nếu muốn liên hệ với chúng tôi, hãy liên lạc với chúng tôi qua trang <strong><a href='@Url.Action("Faq","Home")'>Trợ giúp</a></strong>.</p>
            </div>
        </div>
    </div>
</div>