<?xml version="1.0"?>
<!-- XML Release for Vinahost -->

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an attribute "name" that has a value of "MyDB".
  -->
  <connectionStrings>
    <add name="DefaultConnection" providerName="System.Data.SqlClient"
      connectionString="Data Source=123.30.137.197\MSSQLSERVER2012;Initial Catalog=herawall_hpdb; MultipleActiveResultSets=true; Integrated Security=False; User Id=herawall_phat; Password=123Abc@@"
      xdt:Transform="Replace"/>
  </connectionStrings> 

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!-- Remove IIS version header respond -->
    <httpRuntime enableVersionHeader="false" xdt:Transform="SetAttributes(enableVersionHeader)"/>
    <httpCookies httpOnlyCookies="true" requireSSL="true" lockItem="true" xdt:Transform="Replace" />

    <!--Redirect when have bad url-->
    <customErrors defaultRedirect="error" mode="On" xdt:Transform="Insert">
      <error statusCode="404" redirect="error/404" />
      <error statusCode="503" redirect="error/503" />
    </customErrors>
  </system.web>
  <system.webServer>
    <!-- START config webServer to compression -->
    <!-- Be sure that the dynamic content compression module is installed and enabled in IIS server -->
    <urlCompression doStaticCompression="true" doDynamicCompression="true" xdt:Transform="Insert" />
    <httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files"
                     staticCompressionEnableCpuUsage="70" staticCompressionDisableCpuUsage="100"
                     dynamicCompressionEnableCpuUsage="60" dynamicCompressionDisableCpuUsage="90" xdt:Transform="Insert">
      <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" staticCompressionLevel="9" dynamicCompressionLevel="9" />
      <staticTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="application/x-javascript" enabled="true" />
        <add mimeType="application/atom+xml" enabled="true" />
        <add mimeType="application/xaml+xml" enabled="true" />
        <add mimeType="application/font-woff" enabled="true" />
        <add mimeType="application/font-woff2" enabled="true" />
        <add mimeType="*/*" enabled="false" />
      </staticTypes>
      <dynamicTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="application/x-javascript" enabled="true" />
        <add mimeType="application/json" enabled="true" />
        <add mimeType="*/*" enabled="false" />
      </dynamicTypes>
    </httpCompression>
    <!-- E N D config webServer to compression -->
    <!-- START custom attribute to server header -->
    <httpProtocol xdt:Transform="Insert">
      <customHeaders>
        <remove name="X-Powered-By" />
        <add name="X-Thank-You" value="for bothering to look at our HTTP headers (:" />
      </customHeaders>
    </httpProtocol>
    <!-- Require install URL rewrite feature for IIS, and add an serverVariable="RESPONSE_SERVER" in URL Rewrite feature  -->
    <rewrite xdt:Transform="Insert">
      <outboundRules>
        <rule name="Change Server Header">
          <match serverVariable="RESPONSE_SERVER" pattern=".*" />
          <action type="Rewrite" value="Hepa Server" />
        </rule>
      </outboundRules>
      <!-- Redirect all page to https -->
      <rules>
        <rule name="Redirect to HTTPS" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="^OFF$" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="SeeOther" />
        </rule>
      </rules>
    </rewrite>
    <!-- Redirect a page to a destination - Require Redirect feature -->
    <httpRedirect enabled="true" exactDestination="true" httpResponseStatus="Found" xdt:Transform="Insert">
      <!-- Redirect for user page -->
      <add wildcard="*/user" destination="/" />
      <!-- Redirect for active page -->
      <add wildcard="*/active" destination="http://tuvung.hepatown.com/active" />
      <!-- Redirect for some pages not exist -->
      <add wildcard="*/galaxy-gate.html" destination="/" />
      <add wildcard="*/faq" destination="/" />
      <add wildcard="*/hoc-phi-tieng-anh-2016.html" destination="/" />
      <add wildcard="*/forgot-password" destination="/" />
      <add wildcard="*/galaxy-gate/words" destination="/" />
      <add wildcard="*/lo-trinh-hoc.html" destination="/" />
    </httpRedirect>
  </system.webServer>
  <!-- E N D custom attribute to server header -->
</configuration>
