<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>hepatown.com</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>hepatown.com</MSDeployServiceURL>
    <DeployIisAppPath>hepatown.com</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>Administrator</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="HePa.Data.Context.ApplicationDbContext" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="HePa.Data.Context.ApplicationDbContext, HePa.Data" MigrationConfiguration="HePa.Data.Migrations.Configuration, HePa.Data" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=103.232.121.87;Initial Catalog=hpdb;Integrated Security=False;User ID=sa;Password=haTOpN1lA49t#" Name="Data Source=103.232.121.87;Initial Catalog=hpdb; MultipleActiveResultSets=true; Integrated Security=False; User Id=sa; Password=haTOpN1lA49t#" />
          <Object Type="DbDacFx" Enabled="False">
            <PreSource Path="Data Source=103.232.121.87;Initial Catalog=hpdb;Integrated Security=False;User ID=sa;Password=haTOpN1lA49t#" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=103.232.121.87;Initial Catalog=hpdb; MultipleActiveResultSets=true; Integrated Security=False; User Id=sa; Password=haTOpN1lA49t#" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=103.232.121.87;Initial Catalog=hpdb; MultipleActiveResultSets=true; Integrated Security=False; User Id=sa; Password=haTOpN1lA49t#</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)HePa.Data.Context.ApplicationDbContext-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="HePa.Data.Context.ApplicationDbContext" />
  </ItemGroup>
</Project>